body{
    background-color: black;
}

.container-fluid {
    width: 75%;
    min-height: 100vh;
}

input:focus:invalid,  text:focus:invalid{ /* when a field is considered invalid by the browser */
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

input:focus:valid,  text:focus:valid { /* when a field is considered invalid by the browser */
    box-shadow: 0 0 5px green;
    border-color: green;
}

select:focus:invalid { /* when a field is considered invalid by the browser */
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

select:focus:valid { /* when a field is considered invalid by the browser */
    box-shadow: 0 0 5px green;
    border-color: green;
}


input[type="radio"]:checked + .error-message {
     display: none; 
} 
input[type="radio"]:invalid + .error-message {
     display: block; 
}